</main>
<footer class="text-center text-dark" style="background-color: #f1f1f1;">
      
    <div class="container p-4 pb-0">
      <!-- Grid container -->
  <div class="container p-4 pb-0">
    <form action="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-auto mb-4 mb-md-0 text-dark">
          <p class="pt-2">
            <strong>Sign up for our newsletter</strong>
          </p>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-5 col-12 mb-4 mb-md-0">
          <!-- Email input -->
          <div class="form-outline mb-4 text-dark">
            <input type="email" id="form5Example25" class="form-control" placeholder="Email Adress" />
            </div>
           
          </div>
          <div class="col-auto mb-4 mb-md-0">
            <button type="submit" class="btn btn-primary mb-4">
                Subscribe
              </button>
              </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
       
          <!-- Submit button -->
        
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </form>
  </div>
    <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-3 mb-md-0">
        <h6 class="text-uppercase text-grey">MovieFLicks</h6>
        <p>best copany in the world best in movies and everything that comes ith it</p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        <h6 class="text-uppercase mb-0 text-grey">PRODUCTS</h6>

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="text-dark">Link 1</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Link 2</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Link 3</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Link 4</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        <h6 class="text-uppercase text-dark">CONTACT</h6>

        <ul class="list-unstyled mb-0">
          <li>
            <p> New York, NY 10012, US</p>
          </li>
          <li>
            <p>info@example.com</p>
          </li>
          <li>
         <p> + 01 234 567 88</p>
          </li>
          <li>
            <p>+ 01 234 567 89</p>
          </li>
        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->
    <!-- Copyright -->
    <div class="text-center text-dark p-3" style="background-color: #f1f1f1;">
      © 2022 Copyright:
      <a class="text-dark" href="/">Mario Hernandez</a>
    </div>
    <!-- Copyright -->
  </footer>
</body>
</html>