<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>New movies</h1>
    <form  action="/movies" method="POST" >
        <input type="text" name="movieName" placeholder="Movie Name">
        <input type="text" name="movieInfo" placeholder="Description">
        <input type="number" name="runningTime" placeholder="movie time">
        <input type="string" name="movieCast" placeholder="cast">
        <input type="url" name="url" placeholder="add image here">
        <br>
        <input class="button" type="submit" value="Add Movie">
    </form>
</body>
</html>